@model IEnumerable<UniversityManagementMVCandEF.Models.Enrollment>
@{
    ViewBag.Title = "View Result";
    ViewBag.Active = "Enrollment";
}
<h2>View Student Result</h2>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
<div >
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="control-group">
            <div class="control-label">
                @Html.Label("Student")
            </div>
            <div class="controls">
                @Html.DropDownList("StudentId", String.Empty)
            </div>
        </div>
        <div class="control-group">
            @Html.Partial("_StudentDetails", Model)
          
        </div>
        <div id="section-data">
            @Html.Partial("_CourseInformation")
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#StudentId').change(function () {
            var id = $('#StudentId :selected').val();
            $('#section-data').load('@Url.Action("SelectEnrolledStudentInformation")', { studentId: id });
            $('#StudentDetails').load('@Url.Action("SelectStudentDetails")', { studentId: id });
        });
    });
</script>

<li class="previous">
    @Html.ActionLink("Back to List", "Index")
</li>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
